[2018-03-09 23:05] katzfuss opened #1 "package build fails"
When trying to build the package, I get the following error:
fatal error: RcppArmadillo.h: No such file or directory
 #include <RcppArmadillo.h>

[2018-03-18 14:39] katzfuss opened #2 "Dense D matrix in Laplace code"
In vecchia_laplace_NR.R, the matrix D is defined as a regular matrix. Note that it is an n x n matrix, and so we never want to create or store this potentially huge matrix. We need to either work directly with the vector of its diagonal entries (preferred), or declare it as a sparse matrix (see https://stat.ethz.ch/R-manual/R-devel/library/Matrix/html/sparseMatrix.html).

[2018-03-18 15:11] #2 closed, assigned to dzilber

[2018-03-19 16:52] katzfuss opened #3 "implement maxmin ordering under obs-pred constraint"
Currently, we are create obs-pred + maxmin ordering by carrying out maxmin ordering for obs and pred locations separately, and then rbinding them together. Instead, it would be good to have a function that carries out a maxmin ordering under obs-pred constraint, which would take the obs locations into account when ordering the pred locations.

[2018-03-19 17:55] katzfuss opened #4 "catch error in cholesky when creating U"
We need to catch errors produced by the Cholesky function in the cpp code. If an error occurs, we could successively remove locations/variables from the conditioning set, until no more errors occur.

Minimal working example:
`n=10`
`z=rep(0,n)`
`locs=matrix(seq(0,1e-8,length=n),ncol=1)`
`vecchia.approx=vecchia_specify(z,locs,m=3)`
`createU_matern(vecchia.approx,covparms=c(1,1,1),nuggets=rep(1,n))`

[2018-03-19 18:16] katzfuss opened #5 "Memory allocation issues with createU_matern"
There seem to be some memory allocation issues with the function createU_matern (or rather, the cpp code called within that function).

Minimal working example:

locs <- cbind(runif(n),runif(n))
grid.oneside=seq(0,1,length=round(sqrt(n.p)))
locs.pred=as.matrix(expand.grid(grid.oneside,grid.oneside))
vecchia.approx=vecchia_specify(z,locs,m=10,locs.pred=locs.pred)
createU_matern(vecchia.approx,covpa

[2018-03-19 18:19] katzfuss opened #6 "write function createU_exponential"
(Only do this once #4 and #5 are completed.)

It would be great to have a function createU_exponential, which would do exactly what createU_matern with smoothness parameter = 0.5 would do. However, it would need to evaluate exponential functions instead of Bessel functions, which should be *much* faster, and therefore useful for timing studies.

[2018-03-25 22:29] #5 closed, assigned to wenlongG

[2018-03-25 22:47] #6 closed, assigned to wenlongG

[2018-03-27 16:42] #3 closed, assigned to joeguinness

[2018-03-27 16:43] #4 closed, assigned to wenlongG

[2018-03-28 16:45] dzilber opened #7 "High dimensional (D>2) locations"
I cannot test 3D or higher scenarios.  I think a simple solution is to change the distance calculation in NZentries_arma_omp1.cpp to use arma::norm(l1-l2,2) to get a euclidean distance between two locations l1 and l2.

[2018-03-28 22:59] #7 closed, assigned to wenlongG

[2018-03-29 21:34] katzfuss opened #8 "create more general create_U function with additional covariance options"
I think it would be good to write a function createU, which is the same as the current createU_matern function, except it would have another argument that would allow us to specify the desired covariance function. One option would then be Matern, and a second option that might be useful is exponential + squared exponential:
C(h) = sigma1^2*exp(-h/lambda1) + sigma2^2*exp(-h^2/lambda2)
with paramete

[2018-03-30 16:08] katzfuss opened #9 "Infinite U entries for general ordering"
The function U_NZentries produces Inf entries when ordering.pred='general'. This leads to nonsensical predictions later.

Example:

locs.pred=as.matrix(1:3)+.5
z=rep(1,length(locs))
covparms=c(1,1,.5)
nuggets=rep(.1,length(locs))
m=2
vecchia.approx=vecchia_specify(z,locs,m,locs.pred=locs.pred,ordering.pred='general')
createU_matern(vecchia.approx,covparms,nuggets)

[2018-03-30 16:15] dzilber opened #10 "Unable to use standard Vecchia approximation"
I tried setting cond.yz=='z' in the vecchia_specify function but I am getting the following error.
`Error in matrix(NA, n + n.p, m + 1) : object 'n.p' not found`

It looks like a scoping issue and I think I can fix it, but I wanted to let the owner check it out and choose who to assign it to.

[2018-03-30 16:41] #8 closed, assigned to wenlongG

[2018-03-30 16:45] katzfuss opened #11 "remove findOrderedNN_kdtree2 when GpGp is updated on CRAN"
When the GpGP package on CRAN is updated by joe to allow calling find_ordered_nn() for 1-D locations, we can remove the function findOrderedNN_kdtree2, including in vecchia_specify.R.

[2018-03-30 17:48] #10 closed, assigned to nobody

[2018-04-02 13:06] katzfuss opened #12 "Vecchia-Laplace: restructure function"
It might be useful to structure the VL code more along the lines of the vecchia code for Gaussian data:

calculate_posterior_VL = function(vecchia.approx,likelihood_model, covparms, max.iter=50, convg = 1e-6) {
...
for(i in 1:max.iter){
...
NOTE: do not use vecchia_prediction() here, as it computes the posterior variances every time. Instead:
U=createU(vecchia.approx,covparms,nuggets,covmodel)
V.o

[2018-04-04 19:43] #9 closed, assigned to wenlongG

[2018-04-04 19:44] katzfuss opened #13 "Need to add tests"
We should probably have some tests that need to be run before pushing any commits, to make sure the code changes are not breaking any important functionality. Not sure what the optimal procedure for this is.

[2018-04-06 14:36] joeguinness opened #14 "Cholmod error 'problem too large'"
I started working on the fluorescence data and hit a snag. The full working example is in Google Drive/vecchia_predictions/code/fluorescence_prediction.R, but here is the important part

nuggets <- 1/8
covparms <- c(1/8, 1/4, 1/8, 1/4 )
U <- createU(vecchia.approx,covparms,nuggets,covmodel='esqe')
vecchia_likelihood_U(vecchia.approx,U)

The issue is the last line, and in particular, it comes in ve

[2018-04-06 15:19] #14 closed, assigned to nobody

[2018-05-08 20:10] dzilber opened #15 "Change Laplace code to avoid inverting matrices"
In the vecchia_laplace_NR script, the function calculate_posterior_laplace inverts the prior and posterior covariance matrices.  This should be avoided and replaced with a more efficient calculation.

[code]

[2018-05-09 20:57] katzfuss commented on #12
Great, thank you!

This made cause problems in 2 or higher dimensions when locs should be a matrix with more than one column:

Also, is the code now actually using the ordering implied by specify_vecchia()? If not, the approximation might be poor in two dimensions, or more generally if the locations are not ordered appropriately from the start.

[2018-05-09 20:58] katzfuss commented on #12
Please make sure to always test the 1-D and 2-D case before committing.

[2018-05-09 21:04] dzilber commented on #12
It seemed to be working fine but I agree that the quoted line should not work.  I'll fix that and recommit.

[2018-05-09 21:11] dzilber commented on #12
I'm not sure why it worked with 2D before, but I made the following change (added a comma) that I believe should handle arbitrary dimension:
`  locs = vecchia.approx$locsord[orig_ord,]`

[2018-05-09 21:11] #12 closed

[2018-05-23 22:13] dzilber commented on #15
Updated code to avoid directly inverting an NxN dense matrix.  Code seems to be significantly faster.
[code]

[2018-05-23 22:13] #15 closed

[2018-07-19 15:33] katzfuss opened #16 "U_NZentries.cpp should be able to handle NAs in revNNarray"
In U_NZentries.cpp, inds00 is currently calculated assuming that revNNarray always has the same NA pattern, in which any rows after the first m do not have any NAs. It should be changed such that it can automatically handle NAs in arbitrary locations correctly, by simply not including them in inds00. Specifically, it should work even if a lot of rows consist only of NAs (except for the last elemen

[2018-07-20 12:53] katzfuss opened #17 "code slow when loaded via install_github() ??"
vecchia_likelihood() should take less than 10 seconds for n=40K, m=10, and Matern with smoothness 0.5. However, on some computers, it takes much longer (around 10min) when the package is loaded using install_github(). The problem seems to be solved by loading the functions in the package manually, using source() and Rcpp::sourceCpp().

[2018-07-25 14:41] dzilber commented on #16
Testing MSE looked reasonable for the four likelihoods and 1 or 2 dimensions.  Running 40,000 data points, covparm = (1, 0.1, 0.5), m=10, 2D poisson on [0,1]^2, avg for 2 runs:
zy: ~ 7 seconds per iteration, 10 iterations
SGV:  ~6.2 seconds per iteration, 9 iterations

[2018-07-25 14:41] #16 closed

[2018-10-16 14:10] marcinjurek opened #18 "incorret path in readme"
It seems to me, that we should change the path given in the Installation section of the README.md file. Currently, the command that's supposed to install the package form a tarball is

[code]

which presumes that `GPvecchia_0.1.tar.gz` is in the home directory. Maybe we should change it to:

[code]

which assumes the archive is in the current working directory

[2018-10-16 14:15] marcinjurek opened #19 "Matern function not found"
I recently had to reinstall R and after I did it, I tried to run the vignettes. I tried installing GPvecchia using both `install_github` and `install.packages("GPvecchia_0.1.tar.gz", repos = NULL, type = "source")` and each time I'm getting the following error:
[code]
Please advise.

[2018-10-16 14:45] katzfuss commented on #18
Yes, please change.

[2018-10-16 15:00] marcinjurek commented on #18
oh, ok. I wasn't aware I had write access here.

[2018-10-16 15:00] #18 closed

[2018-10-21 18:20] wenlongG commented on #19
I've updated the vignettes file to make the MaternFun name and input consistent with its definition in rcpp.  Try it again, that error should be gone.

[2018-10-22 13:35] marcinjurek commented on #19
Works! thanks Wenlong!

[2018-10-22 13:35] #19 closed

[2018-10-26 14:30] marcinjurek commented on #13
It seems like [one of the popular ways](https://blog.github.com/2017-11-07-github-welcomes-all-ci-tools/) is to use Travis CI. [Some people object to running unit tests before every commit](https://softwareengineering.stackexchange.com/questions/260778/is-it-a-good-practice-to-run-unit-tests-in-version-control-hooks) but I'm not sure if the two main concerns (commit speed and security) they mentio

[2018-10-28 14:38] katzfuss opened #20 "na.rm() does not properly overwrite objects only within its containing functions"
The code can now, in principle, handle NAs in observations z. However, the scoping/assigning done by na.rm() does not work properly. It should overwrite z and other objects, but only within the function that calls na.rm() (e.g., vecchia_likelihood()), not in the global environment. Here is some example code:

[code]

[2018-10-29 13:54] marcinjurek commented on #20
Dr. Katzfuss, I'm not sure if I understand the problem here. Also, I tried running the code but I wasn't able to. Do you think I could come by your office today after lunch to discuss it?

[2018-10-29 14:53] katzfuss commented on #13
Thanks for researching this. Yes, some test cases that can be run manually should suffice for now.

Vecchia is also exact for exponential covariance in 1D:

[code]

In general, it is also exact if m=n-1:

[code]

But just two special cases, so some more test cases (e.g., for VL -- @dzilber) would be good to have. One issue is that the maxmin ordering is currently random, so the result might be sli

[2018-11-01 16:43] marcinjurek opened #21 "error in U_sparsity for MRA conditioning"
Hello everyone, so here is the problem I've encountered. I'm trying to specify MRA conditioning in `vecchia_specify.R`. When I order locations in 1d left to right I am able to obtain the domain partitioning, knots and NN array as in the second screen shot.

However, when this NNarray is used within `vecchia_specify.R`, the following error is thrown:

![err](https://user-images.githubusercontent.co

[2018-11-01 18:56] katzfuss commented on #21
The i-th row of the NNarray matrix specifies on which locations the i-th location conditions. The first entry of the i-th row should be i, which is correct in your matrix. However, the other numbers in the row should always be smaller than i, as every location can only condition on previously ordered locations. So, for example, row 1 always consists of the number 1 and then only NAs, as nothing is

[2018-11-01 19:08] marcinjurek commented on #21
Oh, oh, I see! Alright, that makes sense now, thanks a lot.

[2018-11-01 19:08] #21 closed

[2018-11-05 16:06] marcinjurek opened #22 "Vecchia likelihood looks inaccurate in the exact case"
This will be a longer ticket, but I wanted to document everything well.

We know that for some special parameter settings MRA is exact. In particular, this requires no measurement error (in the old MRA-only algorithm). Indeed, when I run my Python code with 40 observed locations and m.e. variance 1e-6 I almost identical likelihood values:

[code]

However, this does not seem to be the case for the

[2018-11-05 16:24] katzfuss commented on #22
If the numbers in the revNNarray correspond to the locations in the plot that I think they do, then the NNarray should be correct. It's hard to debug without seeing the code in test-vecchia-mra.r.

One thing I can think of is that numerical error is introduced by the extremely small m.e. variance of 1e-6. Can you try setting the variance to a larger value, say 1?

[2018-11-05 16:31] marcinjurek commented on #22
Thank you very much for your quick response!

Yeah, I tried it for different m.e. variances, even as high as 0.5. I've run it just now with 1, as you suggested and the same thing happens. The difference between the likelihood values varies greatly for different RNG seeds but is fairly constant for the same seed and different orders of magnitude of the m.e. variance. Also, here is the code for the

[2018-11-05 16:34] marcinjurek commented on #22
Also, if you tamper with the mra tree generating code it might break. There are several hacks I used to get it to work and if you change some settings, it might break. But I was working under the assumption that as long as the NNarray is fine, it should not matter for now.

[2018-11-05 17:05] katzfuss commented on #22
not sure what is going wrong then. i do get the exact likelihood with the previously implemented vecchia orderings/conditioning:

[code]

so it looks like something is not working correctly with the MRA conditioning.

[2018-11-05 20:04] marcinjurek commented on #20
It seems to me that changing the definition of `na.rm()` to the following one should fix the problem. It did for me but please let me know if it worked for you as well.

[code]

[2018-11-05 20:54] katzfuss commented on #20
Looks good. Please push.
@dzilber Please check if this fixes your issue with prediction.

[2018-11-05 22:19] marcinjurek commented on #20
pushed

[2018-11-05 22:19] #20 closed

[2018-11-05 22:50] dzilber commented on #20
@marcinjurek , can you try running this code without having a variable "z" in the global environment?
I did a pull and when I remove z using `rm(z)` and call my functions, I still get an error of   `Error in na.rm() : object 'z' not found`.

From what I had read online, the command `<<-` does something nearly identical to `parent.frame()`, and both should work as we want, but for some reason don't

[2018-11-06 16:54] dzilber commented on #20
Issue resolved.

[2018-11-07 20:04] dzilber opened #23 "Method U2V() uses vecchia.approx object from the Global env"
The method U2V() in vecchia_prediction references an attribute of a vecchia.approx object which is not passed in.  The fix discussed with @katzfuss is to add the attribute, vecchia.approx$ord.pred, to the U matrix generated in the createU() method.

[2018-11-08 20:10] marcinjurek commented on #22
The problem was that the ordering of locations changed within `vecchia_specify.R`. It is fixed now and the update 8ee8838 is on the mra branch now.

[2018-11-08 20:10] #22 closed

[2018-11-08 20:14] marcinjurek commented on #23
I realized that too. I fixed it in my local copy by changing the call to `U2V` in `vecchia_likelihood_U()` from
`V.ord=U2V(U.obj)`
to
`V.ord=U2V(U.obj, ord.pred=parent.frame()$vecchia.approx$ord.pred)`.

[2018-11-08 20:17] marcinjurek opened #24 "Allow vecchia covariance to be specified also as a matrix"
Right now `vecchia_likelihood()` takes as argument a covariance function. In filtering applications we need to be able to pass a matrix instead.

[2018-11-09 16:36] marcinjurek commented on #23
By the way the most recent push included that fix. Let me know if that's not okay asap.

[2018-11-09 17:18] katzfuss commented on #23
I discussed a different, preferred solution with @dzilber last week. Daniel, please push your solution and tell Marcin the details.

[2018-11-09 21:47] marcinjurek commented on #23
done!

[2018-11-09 21:47] #23 closed

[2018-11-12 22:30] marcinjurek commented on #24
done in 478d60f! Still keeping it on a separate branch but it seems to be working!

[2018-11-12 22:30] #24 closed

[2018-11-19 22:58] dzilber opened #25 "Add VecchiaLaplace wrappers for vecchia_likelihood and vecchia_prediction"
The vecchia_likelihood and vecchia_prediction methods are both written for Gaussian data.  The VL versions are not trivial changes, but do build off of the base methods, so a wrapper will be made for both methods.

[2018-11-19 23:47] dzilber commented on #25
First commit does not work yet but it is not clear where the issue is.  This commit should not change any existing functionality outside of VL.

[2018-11-21 15:43] katzfuss opened #26 "MRA improvements"
MRA-type Vecchia approximations can be computed using vecchia_specify with option conditioning='mra'. In that case, we should set ordering='maxmin' automatically.

In addition, we need to have an optional argument mra.settings, which is a list with potential entries M, r, and J. M must be a scalar, and r and J can be scalars or vectors of length M and M-1, respectively. If M>1 but r or J are scala

[2018-11-21 16:09] katzfuss opened #27 "improvements to createU"
createU() should be able to handle covariance matrices or user-supplied covariance functions. Specifically, the argument covmodel should be able to handle pre-specified character strings (currently 'matern' or 'esqe'), an n x (m+1) matrix of covariances corresponding to revNNarray, or a user-specified R function. If a matrix of covariances or an R function is supplied, the argument covparms is ign

[2018-11-21 16:20] katzfuss commented on #25
These functions should also compute the posterior mode, and hence should have the same arguments as calculate_posterior_VL().

By the way, calculate_posterior_VL() should also have an argument called 'covmodel'.

[2018-11-22 18:43] dzilber commented on #25
I am having issues with the `vecchia_likelihood` function.  The `na.rm()` function is looking at the `z` variable to determine if any `NA`'s are present in the `U.obj$U` object.  In my case the `z` does not have `NA` but the `U.obj$U` does.

[code]

The above fails at the step `logdet.num=-2*sum(log(Matrix::diag(U)))`, where `U=U.obj$U` still has `NA`'s that were not removed with `na.rm()` earlier

[2018-11-23 14:17] marcinjurek commented on #25
hm... do you think you could post a reproducible example? or it would be enough if you just tell me the place in one of the existing files, where I should paste your code above.

[2018-11-23 14:17] marcinjurek commented on #25
shoot, sorry, I didn't mean to close it:)

[2018-11-23 14:22] dzilber commented on #25
I was just working on this and think the issue was related to the `locs` object.  I was trying to pull it out of another vecchia.approx object, but the command `locs = vecchia.approx$locsord` for my setup returned a list with each location duplicated, which is where the `NA`'s were coming from.   Don't worry about it for now, I'll let you know if I can't get it working.

[2018-11-23 17:11] marcinjurek commented on #26
one thing that's somewhat complicated to implement right now is a clustering/domain partitioning algorithm that would ensure there is at most _k_ points in a given cluster. This problem comes up for example in bullet points 1 and 2.

I followed some of the links we talked about at our meeting but haven't foudn any quick fix. What I'm going to do right now is as follows:

- calculate `K = ceil(n/k)

[2018-11-23 22:20] katzfuss opened #28 "VL: add beta distribution"
This is low urgency, but please add the beta distribution to our VL code when you get a chance.

[2018-11-27 17:47] marcinjurek opened #29 "Need a clustering algo where clusters have equal sizes"
We need an algorithm to efficiently partition a domain into clusters that are contiguous in some intuitive sense (when you see it, you know it's right) but at the same time have an equal number of points. The obvious starting point, k-means, doesn't ensure that. In fact, clusters can have very different sizes.

The most promising approach seemed to be some way of modifying k-means. For example, so

[2018-11-27 17:53] katzfuss commented on #29
How about this: Let's say we want J groups of roughly equal size. We choose the smallest k such that 2^k >= J. Then, we do the splitting algorithm we use for J=2 (split along one dimension using the median) k times, ending up with 2^k groups of roughly equal size. While the size of each group then is often a bit smaller than what we wanted (depending on the exact value of J), it should give us spa

[2018-11-27 19:56] marcinjurek commented on #29
Ok, I see the idea. It seems to me, however, that this would give us partitions for J that is a power of 2. For example, if J=25, then I'm not sure how that would work.

But do we really need a fully general J? It seems to me, that we do only in FSA. So maybe let's assume that J is indeed always a power of 2 and when the user requests something else, we warn him that we used the nearest power of 2

[2018-11-27 19:56] marcinjurek commented on #29
accidentally closed it:/

[2018-11-27 19:59] katzfuss commented on #29
Yes, the number of partitions would be a power of 2. So for J=25, we would use 2^5=32 partitions, which would give slightly smaller cluster sizes than requested. You can give out a warning in that case. Please go ahead and implement, I would like this MRA-Vecchia to be completed soon.

[2018-11-29 22:09] marcinjurek commented on #26
I just pushed a solution in commit 92952cd  (a separate `ticket26` branch). In order to see how it works, one needs to run `tests/test-ticket26.r `. I came up with 6 test cases which, I thought, cover all of the important parameter settings. Could you please have a look at it? I only tested it in 2d. For 1d it works without error but something is wrong with the plots. I'm going to investigate it,

[2018-11-29 22:39] marcinjurek commented on #26
Added two important updates to the `ticket26` branch. The plotting issue is fixed now. Also removed a small bug that upset an MRA with M>1. (I added another test case for that now).

[2018-11-30 18:05] dzilber opened #30 "Add the ability for m=0 conditioning (full independence)"
Currently the GPVecchia code can support M>=1, but not m=0.  This trivial case implies independence and is mainly interesting for comparison and benchmarking.

@katzfuss Feel free to close this ticket if it is not necessary.

[2018-11-30 20:40] marcinjurek opened #31 "Known issues with MRA parameter settings"
- [ ] M=1, J=7, m=10: domain partitions do not seem to be contiguous
- [x] small m, i.e. m=4, n=80: the `choose.M` function uses the "small `m`" variant which results in effective m being typically very large
- [ ] n=1000; r=2; m=14

please add more issues by updating the ticket

[2018-11-30 20:43] marcinjurek commented on #26
I'm closing this ticket now. I opened a new one to track issues with the existing solution to the requests described here.

[2018-11-30 20:43] #26 closed

[2018-11-30 20:44] katzfuss commented on #31
I have just re-organized the MRA code into a single file in the main R folder.

Most MRA settings do no work for me. Running your vignette with n=50, 1D:

`mra.options = list(r=c(0,5), J=10, M=1)`
Returns: "Error in xy.coords(x, y) : 'x' and 'y' lengths differ." The error might actually be in the plotting function.

`mra.options = list(r=c(0,5))`
Works, but sets r_1 = 25, J=2, instead of specifyin

[2018-11-30 21:39] katzfuss commented on #31
2) If n=50, we can only achieve r=c(0,5) if J=10. It would be good if our code would automatically recognize that.

[2018-11-30 21:46] katzfuss commented on #31
Contrary to what I said earlier, I do think we need to allow for J>4 for resolution M, even if M>1. This would allow us to run a "reasonable" MRA even for small-ish m. Consider the following setting:
[code]
Currently, this sets J=2 and r=(14+1)/(2+1)=5 for resolutions 0 and 1, which is good. However, for resolution 2, we then have only 4 subregions with r_2 around (1000-15)/4=246.
I think it would

[2018-11-30 21:49] dzilber commented on #28
Beta(a,b) distribution has been added where the second scale parameter b is specified by exp(y).  The algorithm fails if the first scale parameter is greater than one (a>1).  I believe this is due to the nugget becoming negative, since the Beta distr switches concavity when a>1.   I can think of a few ways to handle this but I am not sure what is best:
1.  Leave it as is, and require 0<a<1
2.  Spe

[2018-11-30 22:12] katzfuss commented on #28
Thank you! This is actually more complicated than I initially thought.

My preferred option would be to parameterize the distribution in terms of the mean (which is linked to the GP) and the dispersion (which is assumed a fixed parameter), as discussed on p. 3 here: [https://cran.r-project.org/web/packages/betareg/vignettes/betareg.pdf](url). But only if this ensures concavity of the log-posterior

[2018-11-30 22:38] katzfuss commented on #31
Unless m, M, r, and J are all explicitly specified by the user, I think it would be useful if we always print the  m, M, r, and J that were selected by our algorithm.

[2018-12-01 02:07] marcinjurek commented on #31
Dr. Katzfuss, I've just pushed the update that should fix most of the issues you mentioned in ticket 31. The one big one that's not addressed is allowing J!=2,4 at M>1. I went back and forth between different ideas I thought would solve it, but haven't figured it out just yet.As a temporary remedy, maybe you could try setting only r and m (and not M). Then M will be adjusted to allow for more spli

[2018-12-01 22:39] katzfuss commented on #31
Thank you! Most things are working well now. The most important issue is of course allowing J!=2,4 at M>1.

I also sometimes get the warning:

Another minor issue: The reported parameter settings should be the actual, final settings. Example:
[code]
Returns:

-> So we really have m=7 and J=64. (And r is also smaller than 10.)

[2018-12-02 14:41] katzfuss commented on #31
Some code below
`NNarray = findOrderedNN_mra(locsord, m, mra.options)`
in vecchia_specify() relies on m being set correctly. Hence, please put the following line right below the NNarray computation for MRA:
`m=ncol(NNarray)-1`

Also, m should not be set to 0 by default. We should return an error if m is not specified, unless conditioning=='mra' and mra.options are specified. Currently, m=0 actuall

[2018-12-04 02:46] marcinjurek commented on #31
Alright, I think I nailed it! The J[M]!=2 case should be resolved now!

[2018-12-04 03:13] dzilber commented on #30
I created a special scenario (shown below, not pushed) within vecchia_specify that creates the matrices you describe, but then the cpp code U_NZentries crashed.  I think it is possible to modify U_NZentries or correct what I made to get it working, but it will take more time.

[code]

Another option would be to wrap the method `calculate_posterior_laplace(...)`, which uses the Laplace approximatio

[2018-12-04 16:24] katzfuss commented on #31
`n=150; V = vecchia_specify(locs, m=6, conditioning='mra')`
returns a warning:

`n=150; V = vecchia_specify(locs, m=10, conditioning='mra')`
returns:

`n=30^2; vecchia_specify(locs,conditioning='mra',mra.options=list(r=c(0,11)))`

`n=30^2; vecchia_specify(locs,m=10,conditioning='mra',mra.options=list(r=c(0,11)))`

`n=30^2; vecchia_specify(locs,m=10,conditioning='mra')`

Once you have addressed the

[2018-12-06 23:05] marcinjurek commented on #31
All these errors have been fixed on my end. I also ran the unit tests I came up with in #26. Let me test it more extensively tomorrow and reorganize the code too.

[2018-12-07 16:38] katzfuss commented on #31
I'm still getting an error with this setting:
[code]
returns:
`Error in log((n - sum(2^(0:(M - 1))))/2^(M - 1), 2) : unused argument (2)`
in choose.M().

I think the issue is because the fields package overrides the log() function. The fields package is needed for some functions in GPvecchia.

[2018-12-07 17:03] katzfuss commented on #31
log() issue is solved now.

The following settings still return errors:
[code]

[2018-12-07 17:22] marcinjurek commented on #31
#1e48794 should fix it. Closing the ticket now

[2018-12-07 20:05] marcinjurek commented on #31
@katzfuss pushed an update. The code worked for all these different parameter settings on my end now.

@joeguinness Thanks, we've realized just that:) You're right about changing the rdist calls though

[2018-12-07 20:10] marcinjurek commented on #31
imports of fields removed in #5d47290. Closing this ticket now.

[2018-12-07 21:51] katzfuss commented on #31
[code]
returns an error saying that some clusters are too big.

Another issue:
[code]
The first version with the default cond.yz='SGV' works, while the second version returns an error generated by line 47 in U_sparsity.R. This is weird, because cond.yz='SGV' and cond.yz='y' should be exactly equivalent in this setting, and as far as I could tell, both versions pass the exact same Cond object in ve

[2018-12-07 22:52] marcinjurek commented on #31
So I have looked at the first issue so far and I'm not sure what's wrong here. Of course, I can easily remove the line that's generating the error but the problem is that the biggest clusters are really too big (i.e. if they should have at most 15 points, some of them have 16. This is somehow related to the way we split the domain. It's not yet clear to me how to fix it.

I haven't look at the sec

[2018-12-07 23:09] katzfuss commented on #31
Yes, maybe the fix for the first issue is to simply return a warning, not an error.

[2018-12-08 16:37] marcinjurek commented on #31
So regarding the first issue, I changed the error to warning per your suggestion. This is a temporary solution. I need to make sure that cluster size is as it should be. The code should run but the oversized clusters cause `m` to be off by 1.

Here is what I have on the second issue so far. I made sure that:
1) both cases generate the exact same `NNarray`
2) that indices in the first column are ju

[2018-12-08 20:17] katzfuss commented on #31
Yes, the NNarray seems to be good, and the same in both cases. What I don't understand is that U_sparsity() returns an error in the 'y' case but not in the 'SGV' case, even though the input to the function seems to be exactly the same in both cases.

[2018-12-08 20:28] marcinjurek opened #32 "U_sparsity throws an error when different cond.yz options are chosen for mra conditioning"
[code]

The first version with the default cond.yz='SGV' works, while the second version returns an error generated by line 47 in U_sparsity.R. This is weird, because cond.yz='SGV' and cond.yz='y' should be exactly equivalent in this setting, and as far as I could tell, both versions pass the exact same Cond object in vecchia_specify() to the U_sparsity() function.

[2018-12-08 22:39] katzfuss commented on #31
@marcinjurek  Thanks for fixing the cluster size issue.

I found two more settings that give errors:
[code]
and
[code]

[2018-12-11 16:14] dzilber commented on #31
For `locs` a data set with ~150k points,
[code]
gives
[code]

Including a parameter `J=2` in the mra.options list gave
[code]

@marcinjurek This is blocking my work, so please correct the defaults for 'firstm' ASAP.  If you think it will take more than a day or two, let me know and I'll revert to an older version.

[2018-12-11 16:17] marcinjurek commented on #31
@dzilber I'm sorry it's blocking your work. Unfortunately, I really don't have the pipeline to address it right now. I'm finishing a fix for Dr. Katzfuss and flying to Poland tomorrow. Hope you can manage without it somehow

[2018-12-11 16:19] katzfuss commented on #31
@dzilber Please just revert to the old firstm code locally, but please do not push this, so that the master branch stays on the current version that uses MRA for firstm.

@marcinjurek  Please fix Daniel's issue once you have fixed the other MRA issues.

[2018-12-11 16:53] marcinjurek commented on #31
Dr @katzfuss, I've just pushed an update. Domain partitioning is fixed.

[2018-12-11 20:07] katzfuss commented on #31
With n=300^2, I'm getting:
Error: cannot allocate vector of size 1024 Kb
6.
unique.default(if (length(x) || length(y)) x[match(x, y, 0L) ==
    0L] else x)
5.
unique(if (length(x) || length(y)) x[match(x, y, 0L) == 0L] else x)
4.
setdiff(remaining[[parent(ind)]], knots[[ind]]) at MRA_knot-tree.r#31
3.
knot.tree(ind.tree, mra.params[["r"]], dim = ncol(locs)) at mraNN.r#101
2.
findOrderedNN_mra(locs

[2018-12-11 20:10] marcinjurek commented on #31
does it work for smaller data sets though?

[2018-12-11 20:12] katzfuss commented on #31
yes

On Tue, Dec 11, 2018 at 2:10 PM Marcin Jurek <notifications@github.com>
wrote:

[2018-12-11 20:15] marcinjurek commented on #31
could you send me all the parameters, please? I am trying it on my end on this many points. Hasn't finished yet but hasn't thrown this error either

[2018-12-31 22:13] marcinjurek commented on #31
closing this ticket now, I will open a new one for the memory-efficient version

[2018-12-31 22:13] #31 closed

[2018-12-31 22:16] marcinjurek opened #33 "memory-efficient version of the MRA tree construction"
As indicated in #26 the current version of the tree construction causes memory issues for grids of size >= 90k. The solution that's adopted so far is to avoid building a grid point hierarchy before the knot hierarchy is created. The branch `memory-eff-tree` has this fix. Please report all errors here.

[2019-01-07 20:53] marcinjurek commented on #13
We can use some version of the script written for method timing for the SGV paper.

[2019-01-07 21:04] marcinjurek commented on #33
The new algorithm works fine in the sense of not using too much memory but it has unacceptable runtime. For example it takes about 7s to build the `NNmatrix` when `m=20` and `n=90000`. After running the profiler (`profvis`, so far it's been a very easy-to-use and effective tool!), it seems to me that the parts of the code that take the most are have to do with list assignment. Check out this scree

[2019-01-11 14:01] marcinjurek commented on #33
Using environments as hash maps and the `dequer` package I was able to bring down the tree construction time for 330**2 ~ 1,000,000 points to 4.5 minutes and for 10,000 points to 2.5s. While a truly efficient solution would require some C++ coding, maybe this will suffice for now.

[2019-01-11 14:07] katzfuss commented on #33
Yes, that's great, good job! I'm closing the issue.

[2019-01-11 14:07] #33 closed

[2019-01-11 17:35] marcinjurek opened #34 "vecchia_specify doesn't work after merge"
Dr. @katzfuss, after I merged my code with the most up-to-date version of the remote master my test code stopped working. In particular the problem is in `vecchia_specify()`. It says:
[code]
And this is thrown by the call to `U_specify()`. Is there something I should keep in mind when calling `vecchia_specify()`? I do it like this:
[code]
When I use the verision of `vecchia_specify.R` that doesn't

[2019-01-11 17:43] katzfuss commented on #34
I think this might be caused by #32 . If so, then
`vecchia_specify(locs, m=20, conditioning='mra',cond.yz = 'SGV')`
should work.

[2019-01-11 19:16] marcinjurek commented on #34
It did! Alright, will look at #32 then

[2019-01-11 19:16] #34 closed

[2019-01-11 20:34] marcinjurek commented on #32
So the problem was caused by my algorithm which returned an NNarray that sometimes had fewer than m+1 columns. This happens when *effective m* is less than m which might happen for example if J=33. Then it is rounded to the next power of 2. In this case it would make a big difference. In practice effective m is rarely observed to be much less than m but if it's off even by 1, it used to throw off

[2019-01-11 20:40] marcinjurek commented on #32
The problem was happening due to an error in my NNarray construction algorithm which led to arrays wit fewer than m columns. This happened, because for MRA conditioning *effective m* is sometimes slightly less than m. But the NNarray matrix is assumed throughout to have m columns so if effective m is less, I changed it in 95995bb so that now it adds the neccessary number of columns with NAs to ens

[2019-01-11 20:45] katzfuss commented on #32
Is it possible to redefine m to reflect the actual, effective m, instead of padding NNarray with NAs? If so, please implement that way, to avoid unnecessary overhead due to extra columns in NNarray.

[2019-01-11 22:06] marcinjurek commented on #32
Oh, it is possible and easy. However, I just wasn't sure if this assumption that NNarray is Nx(m+1) is not used somewhere else in the code. But seems like it isn't so no problem.

[2019-01-11 22:14] marcinjurek commented on #32
fixed in 71f7179

[2019-01-11 22:14] #32 closed

[2019-01-12 14:16] dzilber commented on #25
I implemented these changes a few weeks ago and have solved and problems I encountered.  As far as I can tell, this is working correctly, so I will close the ticket.

[2019-01-12 14:16] #25 closed

[2019-01-12 16:15] dzilber commented on #30
I checked this for 1 and 2D using the VL and GPvecchia vignettes.  Seems to be working and will not impact existing code if it has an issue.  Closing the ticket.

[2019-01-12 16:15] #30 closed

[2019-01-12 16:38] katzfuss commented on #27
Actually, I think the Vecchia approximation, in general, requires a matrix of (m+1) x (m+1) covariances for each location, meaning roughly nm^2 covariances in total. Only for the MRA and some other special cases, we can compute U just based on providing the n x (m+1) covariances mentioned above, using a Cholesky decomposition of a sparsified covariance matrix.

[2019-01-12 18:48] dzilber opened #35 "Exact max-min ordering code"
As described by @katzfuss:

[2019-01-15 20:42] marcinjurek commented on #27
Do we want to worry about the general case though? From my (admittedly, limited) perspective, it seems like we only need to pass a matrix when we do filtering. In purely spatial cases covariance will be provided as a parametric family anyways, no? Who would want to do something else?

Anyways, maybe at least I could start with the MRA case instead of the fully general one?

[2019-01-15 22:14] katzfuss commented on #35
Does it work if you run the C code outside of R?

[2019-01-21 22:33] marcinjurek commented on #27
Hello Dr. Katzfuss, so following my understanding of the overleaf document here is what I'm currently doing do assemble the U matrix:

First, I'm assembling a sparse matrix Sigma \kron S, asstated in section 4.3. Let's call this matrix M. Then I calculate L = rev(chol(rev(M))^{-1}). This gives me a sparse lower triangular matrix with the same pattern as the lower triangle of the matrix M.

Since e

[2019-01-21 23:31] katzfuss commented on #27
The differences are definitely too large to be solely due to numerical error, but it is fairly difficult for me to debug like this.

I would suggest to start with very simple examples, like n=3, m=2, M=1, where the MRA should be exact (Sigma = (UU')^{-1}), and then seeing exactly where things go wrong.

Note that we do want a sparse n x n matrix at the end, not a dense n x (m+1) matrix. There is n

[2019-01-22 22:03] marcinjurek commented on #27
Ok, so my U is now a square root of Sigma^{-1} but when I take the U generated by `U_NZentries()` and calculate UU' (also tried U'U) it is not equal to Sigma^{-1}... To be more precise, I'm looking at U_y returned by `U_NZentries`, or the rows and columns corresponding to the latent variables only. And it's all in this exact case (m=1, r=1, exponential covariance, 1d etc, where it should be exact)

[2019-01-22 22:10] katzfuss commented on #27
I think you need to first compute Sigma.all=(UU')^{-1), and then extract the rows and columns corresponding to y from that matrix.

[2019-01-23 20:04] marcinjurek opened #36 "experiment with exponential decay of r_m"
Change the code so that r_m decreases with resolution. Try exponential and linear decays

[2019-01-24 01:11] marcinjurek opened #37 "maxmin ordering in 1d doesn't seem to work as expected"
Everyone please let me know if you can replicate this error, but it seems to me that there is some problem with the maxmin ordering function. When I use n=3 in 1D the middle location is not selected as the first one. I used seed 1988.

I imagine this might be because this is an approximate maxmin ordering, but I'm no expert on this and I just wanted to report it. Let me know please if you can or c

[2019-01-24 15:24] katzfuss commented on #37
Yes, this is almost certainly because of the approximate nature of the current maxmin algorithm. This issue will be solved by #35

[2019-01-24 15:26] katzfuss commented on #35
@jingjiezh has found and corrected some bugs in the C code. Please work together to wrap this function in R. This should be highest priority at the moment.

[2019-01-24 16:12] marcinjurek commented on #27
Still trying to figure it out I'm reading [Shaefer (2017)](https://arxiv.org/pdf/1706.02205.pdf). In section 2.3, at the bottom of p. 9 it says:

__It is important to observe that the step min(i,j) is the first time when the entry \Theta_{i,j} is used in the Cholesky decomposition. Therefore, if we know that Cov[X_iX_j|{X_r}_{1<=r<=min(i,j)}] = 0, we need neither update nor even know the value of

[2019-01-25 20:40] dzilber commented on #35
The first update is up.  The obs-pred ordering will now be attempted.

[2019-01-26 00:51] dzilber commented on #35
Obs-pred ordering heuristic has been implemented by copying the code of the previous version.  Results seem to be nearly identical to the previous code for 1 and 2D tests with GPVecchia.  For a sample size of 40^2, the time to run vecchia_specify decreased by about 40%, from roughly .3 seconds to about .18 seconds.

An exact obs-pred ordering will likely require modifying the c code and does not s

[2019-01-26 00:51] #35 closed

[2019-01-31 15:33] dzilber opened #38 "LowRank functionality broken"
The command ` vecchia_specify(locs, m=10, conditioning = 'firstm')` still does not work.  I get the following error:
[code]

I have been using an older version of the code for my simulations but there are have been many changes to code and my simulations need to be brought up to date.

[2019-02-01 16:33] marcinjurek commented on #38
I'm on it

[2019-02-01 17:03] marcinjurek commented on #38
Seems like 409c126 fixed it on my end but please verify

[2019-02-01 17:10] dzilber commented on #38
The fix works great, thank you!  Will do ;)

[2019-02-01 17:10] #38 closed

[2019-02-07 22:27] marcinjurek commented on #37
Hm... so I'm not sure what you guys think about it, but I'm still a little iffy about this maxmin ordering.

Here is a vector with locations:
`locs = c(0.1494348, 0.1852040, 0.3139893, 0.3676648, 0.4167928, 0.4492080, 0.5539822)`
The order that I'm getting is `ord = c(2, 6, 5, 1, 7, 4, 3)`. I thought it would be, for example 6, 2, 5, 1, 7, 3, 4 which is what would allow to take advantage of the sc

[2019-02-08 00:58] dzilber commented on #37
I think you are running order() on a vector which is already the order.  The output I get is

[code]

but if you run order on that output, you will get the output you mention.

[2019-02-11 00:19] dzilber opened #39 "MRA: NNarray loses prediction locations"
The code shown below fails with `Error in revNNarray[k, ] : subscript out of bounds`.    The issue may be caused by a bug in   `knt.tree = knot.tree(locs, mra.params)`, since a full set of locations = (locs, pred.locs) goes in but only the observed locs come out.

@marcinjurek , any ideas?  Can you reproduce the problem?

[code]

[2019-02-11 16:32] marcinjurek commented on #39
Okay, so right now here is the error I'm getting (thrown by `order_maxmin_exact_obs_pred`).

[code]

Specifically, it is thrown by line 425 in `ordering_functions.R`.

I made sure to pull from the remote before running it to work with the most up-to-date version of your code. Just making sure that maybe there are some changes on your end you didn't push. It's not clear to me why the error I'm gett

[2019-02-11 16:39] dzilber commented on #39
I do not have any significant changes to push.  Try restarting the workspace; your code should be working without the prediction locations.

[2019-02-11 22:05] joeguinness commented on #39
I get this error from time to time. There is some minor bug in how the FNN
package is set up. I've tried to fix this myself but couldn't make any
progress. Usually restarting the R session works for me.

On Mon, Feb 11, 2019 at 11:32 AM Marcin Jurek <notifications@github.com>
wrote:

[2019-02-11 22:10] dzilber commented on #39
@marcinjurek was correct, I forgot to commit a change to the code.  The error message is misleading.  Fixing this ticket should now be super quick ;)

[2019-02-11 22:32] marcinjurek commented on #39
Well, unfortunately, I still can't get rid of this FNN error. Restarting R or R studio didn't help, updating FNN didn't help either. What's worse, if you look at the front page of this document, it seems like there are some known C++ related issues that no one wants to take care of. I would be happy to investigate it but it might be a major time investment.

[2019-02-11 23:14] katzfuss commented on #39
The front page of which document?
I thought we had been using the FNN package for a long time, and I was not aware that it was causing any errors.

[2019-02-12 15:29] marcinjurek commented on #39
https://cran.r-project.org/web/packages/FNN/FNN.pdf

This is the document. The field `X-CRAN-Comment` suggests there are some issues with C++, although there is no knowing if that's what I come across.

[2019-02-12 18:10] joeguinness commented on #39
This error comes up in GpGp intermittently, and I don't fully understand
it. Maybe try removing "library(FNN)" from the first line of NN_kdtree.R?

On Mon, Feb 11, 2019 at 6:14 PM Matthias Katzfuss <notifications@github.com>
wrote:

[2019-02-12 18:18] marcinjurek commented on #39
that helped! thanks @joeguinness!

[2019-02-12 20:27] marcinjurek commented on #39
@dzilber try the code now. I think I might have fixed it in d4a2fe2.

[2019-02-14 15:36] #39 closed

[2019-02-20 21:07] marcinjurek commented on #36
Also try moving points 2-9 to the end of the max-min ordered list

[2019-02-21 02:25] marcinjurek commented on #36
So I'm trying to come up with some smart idea for implementing this and here is one problem that I see with making it decay exponentially: r_0 will be too big. Here is why.

If we halve r_m as we move down, i.e. r_m = r_{m-1}/2 then if we do the math r_0 ~ m/2. In general, if we have r_m decay by a factor of k, i.e. r_m = r_{m-1}/k then r_0 ~ m/k.

Not to mention that for larger k's there will be

[2019-02-21 15:40] katzfuss commented on #36
As we said last time we discussed this, let's try both exponential and harmonic decay. I can remind you of the reason for the exponential decay next time we chat in person.

[2019-02-21 16:33] marcinjurek commented on #36
I'm not sure how much more time you would like me to spend on this problem right now. Here is my current no-solution.

I tried exponential decay, harmonic decay and something in between (i.e. rather than using r_m = r_{m-1}/k as in exponential decay I'm using r_m = r_{m-1}/sqrt(k) which gives us slower decay, although I guess it's just exponential decay with a smaller constant).

The general diffi

[2019-02-21 19:16] marcinjurek commented on #36
So I don't think this exponential decay helps (which I find surprising). The first run shows the results of pure exponential decay. In the second we change r on every other resolution only and in the last one we have the current scheme. Clearly the last one works best in terms of likelihood comparison.

I used n=900 and we have exponential covariance with range 0.1

[code]

[2019-02-21 20:12] katzfuss commented on #36
Can you average the loglikelihood over a couple of repetitions, or compute the KL divergence to the exact distribution, to make sure this is not just due to random sampling variability?
Most likely this will not change the conclusions though, so we can close this ticket and focus on other things.

Remaining this to try (if you think it is worth your time) would be:

- Also try moving points 2-9 to

[2019-04-01 15:33] marcinjurek opened #40 "make an R package out of IC0"

[2019-04-01 15:34] marcinjurek opened #41 "check if it's easy to use a parallel version of solve() for sparse matrices in createU"

[2019-04-01 15:35] marcinjurek opened #42 "test if it's cheaper to pass a matrix to createU rather than passing a function"

[2019-04-01 15:40] marcinjurek opened #43 "allow user to pass an arbitrary R function as covariance function in the MRA case"
So far `cov.model` in `vecchia_specify()` can be either a string "matern" or "exponential" or a matrix. It would be more flexible if the user could pass any R function as covariance function. But we also need to check how fast that would be.

this is related to #27 but handles only the MRA case

[2019-04-09 19:30] marcinjurek commented on #40
done, check out https://github.com/katzfuss-group/IC0

[2019-04-09 19:36] katzfuss commented on #40
can you put the R package on CRAN?

[2019-04-10 19:37] #40 closed

[2019-04-10 21:24] marcinjurek commented on #43
first, need to come up with a file to test it all on. The usual test file does not work on `ticket27` branch. So first I need to merge ticket27 into master and push to the remote.

[2019-04-10 21:37] marcinjurek commented on #43
Alright, merge completed but the tree construction algorithm didn't merge correctly and there are some errors thrown. Need to investigate that

[2019-04-10 21:39] marcinjurek opened #44 "time tree construction algorithm from branch ticket27 and master"
Changes are in `R/MRA_knot-tree.R` in functions `knot.tree()` and `getNNmatrix()`

[2019-04-10 22:00] marcinjurek commented on #43
ok! First attempt is there. Need to test it now!

[2019-04-11 15:02] marcinjurek commented on #43
@katzfuss so here are the run times when we allow the user to pass the function

I used n=10k locations and m=40. In one scenario I supplied a function that read pairs of locations (from `NNarray`), calculated distances between all pairs and then returned the exp(-distance) as covariance

Alternatively, I wrote the same function in c++ and the user passed only the function name (like in Wenlong's

[2019-04-11 15:33] marcinjurek commented on #27
Seems like this might be solved in #43 for the MRA case. Need to see how to easily pass the `NNarray`-shaped matrix of covariances to `U_NZentries()`

[2019-04-11 16:04] #27 closed

[2019-04-11 16:13] katzfuss commented on #43
Consider the following code:
[code]
Line 2 only needs to be run once, so its time is not too important.
Line 3 on my computer produces the following output:

[2019-04-11 16:31] marcinjurek commented on #43
Hm... so this is assuming that covariance function is isotropic. I followed the specification outlined in #27. Moreover, Wenlong's s++ code also calculates distances so in order to make a fair comparison I thought I should have included that too. In the spatial only case they have to be calculated anyway.

In any case, seem like you closed #27 so should I not work on the more general case? I am ri

[2019-04-11 16:39] katzfuss commented on #43
If you can finish the general case quickly, please do. But I suspect that the matrix-based approach will not work as well there, because we have to provide n x m^2 covariances. What we probably should do or at least keep on the to-do list is to ensure that the Bessel evaluations are avoided if smoothness=1.5, see e.g. here https://en.wikipedia.org/wiki/Mat%C3%A9rn_covariance_function#Simplificatio

[2019-04-11 17:14] joeguinness commented on #43
I've wondered about this very issue. The package will be more valuable if
users can specify covariance functions, but R functions will be slower than
c++. Would it be possible for them to write c++ code and pass the code in?
I have no idea how this would work, but my impression is that the inline
package does something like this.

On Thu, Apr 11, 2019 at 11:02 AM Marcin Jurek <notifications@github

[2019-04-11 19:44] marcinjurek opened #45 "investigate passing arbitrary c++ covariance functions"
R inline package might be a good place to start

[2019-04-11 19:45] marcinjurek commented on #43
@joeguinness I created #45 for that particular feature
@katzfuss for smoothness 0.5, 1.5, 2.5 matern kernel is now evaluated using the polynomial formula

[2019-04-11 19:45] #43 closed

[2019-04-12 16:53] marcinjurek commented on #45
So there are several issues here and let me summarize what we currently have
1) passing an R function to `createU` so that we can calculate all the necessary covariances there
This is currently implemented for the MRA case, function specifications are to be found in `createU.R` as well as in #27
2) passing an R function to Rcpp in order to use current U_NZentries code; This would require calling a

[2019-04-12 17:13] marcinjurek commented on #41
There doesn't seem to be any quick way to do it. The Matrix package uses CHOLMOD routines for solving sparse systems. Searching through the CHOLMOD manual [here](https://fossies.org/linux/SuiteSparse/CHOLMOD/Doc/CHOLMOD_UserGuide.pdf), I'm not seeing anything related to parallelization. If more time was spent on it, probably something could be done but it's unclear at this point

[2019-04-12 17:13] #41 closed

[2019-04-15 14:52] #42 closed

[2019-04-15 21:30] marcinjurek opened #46 "createU doesn't work when we have independent blocks"
Specifically, when for example r0 = c(0, 10), something is wrong in the line
[code]

Note this happens when ic0 is used for the mra neighbourhood structure.

[2019-04-15 21:38] marcinjurek opened #47 "write MRA tree construction algorithm in c++"
This is by far the slowest part of the code. Here are three versions of the tree construction algorithm which turn out to have similar run times, much much longer than other CPU-intensive parts of the algorithm.

[code]

This was run on the department's server with N=200**2 and m=40.

There should be a C++ function that takes the locations and mra parameters as input and returns the `NNarray`.

[2019-04-16 16:31] marcinjurek commented on #46
@katzfuss how important would it be to fix that? The quick fix is to use the old algorithm in this case. But I looked into it and it seems that using ic0 is rather complicated. This is because we need to disentangle the `NNarray` and split it into several parts. Then do the ic0 for each part and put it together. It's certainly not impossible to do, but I'm not sure how important this feature is.

[2019-04-19 21:08] marcinjurek commented on #47
done, constructing the tree for these parameters now takes ~0.015s

[2019-04-19 21:08] #47 closed

[2019-04-19 21:10] marcinjurek commented on #44
solved with the c++ version of the tree construction algo in 491c52e

[2019-04-19 21:10] #44 closed

[2019-05-03 19:17] dzilber opened #48 "MRA version of LowRank is not equivalent"
A modified predictive process is equivalent to MRA under conditions r = (m,1) but the current code implementation shows a discrepancy between the two techniques.   Example code below demonstrates with plots where the results are similar but not equal.

I will push a version of the code that separates low rank via MPP ("firstm") and MRA in Vecchia_specify and allows the code below to show the diffe

[2019-05-03 20:59] marcinjurek commented on #48
Ok, I pushed some updates that now let MRA work without bugs when a prediction is desired. I need to look into this one. By the way, excellent job documenting the problem!

[2019-05-03 21:22] marcinjurek commented on #48
So I found the problem. When I was developing the MRA code I just hardcoded only one covariance function (exponential with radius 1) that it calculates. In other words, if you set `conditioning = 'mra'` `covparams` are effectively ignored. This is not good and I'm aware of it. However, when you set `covparams=c(1, 1, 0.5)` in the code above, the discrepancy disappears. I will create a separate tic

[2019-05-03 21:23] marcinjurek opened #49 "Link the existing C++ code calculating matern covariance functions with the IC0 code"
Make sure that when you finish it, you test it using the ticket48.r file with the code from Daniel

[2019-05-03 21:24] marcinjurek commented on #48
By the way, I understand that the status quo severely limits the applicability of the mra code and that bypassing it when the `firstm` option is selected makes sense until #49 is resolved.

[2019-05-08 21:28] marcinjurek opened #50 "Towards version 1.0"
Hello @dzilber @joeguinness @wenlongG, just wanted to ping you with a quick message. I talked to @katzfuss today and it seems like it would be good if we target end of July as a deadline for upgrading the package to version 1.0. I might add some new tickets and a special label so that we mark the things that need to be resolved. But I would also want to reach out to you all and ask what do you thi

[2019-05-08 21:33] marcinjurek commented on #13
@dzilber I feel like you and I contribute the most code atm. I'm thinking of using some of these R packages for unit testing so that our process is more formalized. What are your thoughts on this? I remember some time ago you said you typically run the vignette. Since then I tried to adopt the same custom for my MRA code. The problem with that, however, is that oftentimes there are things that to

[2019-05-08 21:35] marcinjurek commented on #1
@wenlongG what's the status here? Is this still a problem?

[2019-05-09 03:25] dzilber commented on #50
Stuff I have had in mind other than unit tests:
1. C++ failures causing R to crash.  Would be good if they can be avoided with low-cost checks, but I need to reproduce the problems I saw.  Typically related to cholesky decomposition failures (maybe not cpp code?).
2.  Tons of warnings coming out of source.cpp which we may be able to minimize just by cleaning the code.  Probably won't affect the en

[2019-05-09 03:44] dzilber commented on #13
@marcinjurek Agreed, I use the vignettes as a substitute for unit testing, but unit tests are the right tool to use. I believe there are ways to link the unit tests to git so that every commit triggers a run of the unit tests, and if any test fails it sends a message to the person committing.

The tests suggested by @katzfuss make sense, and we can also add for the case m=0.   Later I will try to

[2019-05-09 19:26] marcinjurek commented on #13
Okay, so here is the road map based on Hadley Wickam's book http://r-pkgs.had.co.nz/tests.html and Karl Broman's post https://kbroman.org/pkg_primer/pages/tests.html and my own thoughts on this

- [ ] come up with a set of tests that use the `assert` statement.
This will give us the material to work with - actual tests. At the same time it is very easy to develop and we don't worry about packages

[2019-05-09 19:46] marcinjurek opened #51 "add "verbose" option to vecchia_specify"
One thing I need it to do right now is to display the actual m, J, M, r. For example actual `m` can sometimes be smaller than the `m` the user passed.

In the future other, there might be other information displayed to the user as well, when the `verbose` argument is set to `TRUE` (it will be `FALSE` by default).

[2019-05-10 18:17] marcinjurek opened #52 "add checks to prevent C++ crashes"
Apparently sometimes the RStudio session crashes after calling an Rcpp function. @dzilber, if you see it happen, please paste an example here.

[2019-05-10 18:22] marcinjurek commented on #50
Re 1): I created a separate ticket. Re 2: I'm not really seeing any warnings

[2019-05-10 18:24] marcinjurek opened #53 "finalize vingettes"
We can discuss the details in a group meeting etc. but So far we have three vignettes: the general one, one for VL and one for MRA. I'd say we should consolidate it into one

[2019-05-10 19:34] marcinjurek opened #54 "Add support for non-zero mean"

[2019-05-10 19:58] marcinjurek commented on #51
almost there, finish by running some tests using `GP_vecchia_mra_vignette.R`

[2019-05-13 17:08] marcinjurek commented on #53
closed by accident

[2019-05-13 17:08] marcinjurek commented on #51
fixed in 42f9ed4

[2019-05-13 17:08] #51 closed

[2019-05-13 20:41] marcinjurek commented on #49
This should be resolved in 25a7b6b.

[2019-05-13 20:41] #49 closed

[2019-05-13 20:42] marcinjurek commented on #48
I think this should be resolved in 25a7b6b. I tested it using the file you provided. Please test on your.

[2019-05-13 21:26] marcinjurek commented on #1
I cleaned my local repo and the package cannot even be built using R CMD build. Need to resolve this first.

[2019-05-13 21:41] dzilber commented on #52
Crash 1:  VL gets data that does not match the distribution domain.  For example, specifying Gamma distributed data but passing in negative values.  The C++ code crashes somewhere, probably due to NA or -infty.  A check for data integrity handles the problem.

Crash 2:  I can reproduce it, but I don't know what is causing it.

[code]

[2019-05-14 20:15] katzfuss opened #55 "provide option ordering='none'"
For users who have already ordered their locations as desired, provide the option to set ordering='none' in vecchia_specify()

[2019-05-14 20:18] katzfuss commented on #54
This should be part of a general parameter estimation procedure that estimates trend and covariance parameters. For simplicity, we could just estimate trend parameters using least squares, and then the covariance parameters by optimizing the Vecchia loglikelihood.
We could extend this by doing GLS estimation of the trend using the estimated covariance structure at the end.

[2019-05-14 20:20] katzfuss commented on #54
Potentially extend this by profiling out mean and variance

[2019-05-14 21:12] katzfuss opened #56 "Avoid Bessel evaluation if smoothness=1.5"
We should ensure that the Bessel evaluations are avoided if Matern is used with smoothness=1.5, see e.g. here https://en.wikipedia.org/wiki/Mat%C3%A9rn_covariance_function#Simplification_for_%CE%BD_half_integer

We need to figure out the equivalent parameterization.

[2019-05-15 15:19] katzfuss opened #57 "manual build fails"
I used to be able to build the package "manually" by running the following code:

[code]

However, I now get the following error when calling Rcpp::sourceCpp('GPvecchia/src/U_NZentries.cpp'):

[2019-05-15 16:34] marcinjurek commented on #56
hm... it seems to me this is already happening.
https://github.com/katzfuss-group/GPvecchia/blob/25a7b6b/src/Matern.cpp
is there something that makes you think it doesn't work?

[2019-05-15 16:41] katzfuss commented on #56
Is there a minus sign in lines 36 and 47?

Did you test whether it actually speeds things up? With, say n=40,000 and m=20, createU should be much faster for smoothness = 0.5 or 1.5 than for, say smoothness=.51 or 1.51.

@dzilber : Please also make sure that this speeds things up for VL.

[2019-05-15 17:07] marcinjurek commented on #1
try building the package using the best practices outlined in http://r-pkgs.had.co.nz/src.html

[2019-05-15 17:13] marcinjurek opened #58 "write documentation"
All user-facing functions should be documented.
- [x] Need to find a guide on how to do it. Is Roxygen the right tool?

[2019-05-15 17:33] marcinjurek commented on #56
Minus sign fixed. I did test it and it seems much faster, as expected. Here is the code

[code]

and here is the output:
[code]

[2019-05-15 20:30] marcinjurek commented on #57
I tested the almost exactly same code and it works on my computer. The only difference was that I added a line specifying the working directory after library imports, in my case this looks like
`setwd("/home/marcin/GPvecchia")`
Maybe you could try that too?

Also, this link suggests a possible reason what might be wrong
https://support.rstudio.com/hc/en-us/community/posts/200653796-Unable-to-get-R

[2019-05-15 21:18] katzfuss commented on #57
The space in the path seems to have been the problem -- solved now. Thank you!

[2019-05-15 21:18] #57 closed

[2019-05-16 15:28] dzilber commented on #52
I realized the second issue I describe above is due the prediction locations containing observed locations.  I added a check that stops the code if it finds a non-empty intersection between locs and locs.pred.  This can be modified to automatically remove the redundant locations, but that is left for another ticket.

[2019-05-16 15:36] dzilber commented on #56
The minus signs were in place because the code was not giving the correct result.

[code]

[2019-05-16 18:25] dzilber commented on #52
The second issue with a check for repeated prediction locations is trickier than I thought and my current fix doesn't work for more complicated samples.  If you are using it, set the if-statement to something that is always false.  Should have a fix soon.

[2019-05-16 20:17] katzfuss commented on #52
@dzilber Maybe we could simply check for duplicates in the entire location matrix (observation and prediction combined) using anyDuplicated()? Try
[code]

If we add such a check to vecchia_specify(), maybe the added computation time would not be too bad?

[2019-05-20 13:00] dzilber opened #59 "VL likelihood and predictions do not handle mean terms correctly"
The prior mean term was not being used correctly in these methods:

[code]

[2019-05-20 15:55] katzfuss commented on #59
Please make sure to also test with spatially varying mean.

As a reminder, here is what I had sent regarding this issue:

Should prior_mean be subtracted in line 321 of https://github.com/katzfuss-group/GPvecchia/blob/master/R/vecchia_laplace_NR.R ?
And vecchia_laplace_prediction() should have access to prior_mean and prior_mean_pred (at unobserved prediction locations), so that we can subtract pr

[2019-06-06 13:52] #48 closed

[2019-06-06 15:38] dzilber commented on #52
The issues I mentioned should be resolved now and have been checked for the test cases provided.  The method to check for duplicates provided by @katzfuss is fast and clean and has been implemented.  It checks 10 million 2D integer locations in about 2 seconds.  100 million was much slower, but that may have to do with my limited RAM, and I think it will not be the bottleneck.

I saw that large no

[2019-06-06 15:38] #52 closed

[2019-06-06 16:02] dzilber commented on #59
In addition to the fixes mentioned by @katzfuss , there was the additional issue that the `preds` object  was not being corrected for the mean.  Fixing this made the corrections to the `data_preds` terms unnecessary.  Based on my testing, both likelihood and predictions are now correctly handling mean terms.

Regarding the pseudo_data + prior_mean term returned by calculate_posterior_VL method, I

[2019-06-06 16:02] #59 closed

[2019-06-06 23:35] dzilber commented on #28
For future reference:  I parameterized the latent GP through the mean leaving b as the free parameter.  There are still issues with negative nuggets, which causes the VL version to crash.  The Laplace-only version seems to work with arbitrary b, which leads me to think that maybe this is an issue in the C++ code rather than a parameterization issue.

[2019-06-10 15:02] marcinjurek commented on #1
The error right now is that when using an installed version of the package, the solve() function in createU() does not return a sparse matrix. When the same code is sourced instead, it works fine

[2019-06-10 15:08] #37 closed

[2019-06-10 15:12] marcinjurek commented on #56
@dzilber can we close this?

[2019-06-11 18:49] marcinjurek commented on #1
as of 992c403 the library can now be build using R CMD build

[2019-06-11 20:17] katzfuss commented on #1
Great, thank you. Please test that this way of installing does not affect (i.e., slow down) the code execution for, say, n=40,000, m=20 relative to "manual" installation (sourcing).
If everything works well, should we update the installation instructions in the GPvecchia readme?

[2019-06-13 21:16] marcinjurek commented on #1
just a short update here. @katzfuss thanks for mentioning testing for speed because using the installed version of the package turned out to be indeed much slower. It is baffling to me why, but I managed to identify that the problem is in the vecchia_lieklihood_U function. When run on my laptop it crashes due to insufficient memory (though it doesn't say exactly at which line). Run the server it d

[2019-06-13 21:40] dzilber commented on #1
I am also playing with this packaged version that is created by install_github.  I did a profiling test with the `calculate_posterior_VL` function and found that most of the time is being spent on the command `solve.default` in the vecchia_mean function.

I checked what @marcinjurek is getting and can reproduce it with a call to `vecchia_likelihood`. Most of the time for this call is also being sp

[2019-06-13 22:42] dzilber commented on #1
I have a guess that we want R to use the `solve` command from the Matrix package, rather than the R base.  Replacing `solve` with `Matrix::solve` got rid of the issue in the Laplace code I have, will test with the other vecchia methods.

[2019-06-14 16:16] marcinjurek commented on #1
hey, I think I solved it! So all calls to the regular matrix functions (like `t()`, `diag`, `chol` had to be prefixed by `Matrix::`).

[2019-06-14 16:18] marcinjurek commented on #1
Please @dzilber test on your end to double check and lmk or just close the ticket! Hey thanks for yout help by the way! Your hints were really really helpful!

[2019-06-14 16:21] marcinjurek commented on #17
This is probably related to the issues in #1

[2019-06-14 16:50] dzilber commented on #1
The code is getting faster, nice work @marcinjurek!  I still see most of the time spent in some solve routine, rather than U_NZentries as in the regular case, for both the VL code and the regular Vecchia vignette.  We can't close this yet.

[2019-06-14 16:53] marcinjurek commented on #1
Oh... ok, well I compared only vecchia_likelihood functions. Yes, you're right! I'm on it!

[2019-06-14 16:59] marcinjurek commented on #1
actually could you go through the `vecchia_laplace_NR.R` file? I don't know it that well and wouldn't want to mess things up.

[2019-06-14 17:01] dzilber commented on #1
Yep, I'll handle the `vecchia_laplace_NR.R` @marcinjurek

[2019-06-14 17:23] marcinjurek commented on #55
this should be resolved now although I wasn't entirely sure if it works as you intended when prediction locations are specified. Could you please test on your end and let me know? Thanks!

[2019-06-14 18:49] marcinjurek commented on #1
vignettes for regular and hierarchical vecchia (mra) run fine!

[2019-06-14 19:13] dzilber commented on #1
This is working for the VL vignette as well using `devtools::install_local`.  The Laplace-only prediction is slow and could probably be corrected further, but it is not relevant to this ticket.  Thanks @marcinjurek !

[2019-06-14 19:13] #1 closed

[2019-06-14 19:23] dzilber commented on #53
I think it's reasonable to have one vignette for the package.  The VL vignette directly extends the original SGV vignette, so maybe if @marcinjurek just replaces the low rank approaches with more sophisticated MRA approaches for the comparison plot, we can call it "the" GPVecchia vignette.  Also it might be neat to see how well MRA does for the non-Gaussian cases, compared to low rank and VL.

[2019-06-14 19:37] marcinjurek commented on #53
Good suggestions! I'd just add that mra does more than just replace the low-rank approach but I could simply add a few more examples. And I agree that having a consolidated vignette written in Rmarkdown is the way to go. Will work on this.

[2019-06-17 16:38] #46 closed

[2019-06-17 20:06] katzfuss commented on #55
ordering='none' looks good.
I suggest removing the input argument "user.order". If the user wants to use their own ordering, they can simply order their data and locations beforehand, and then call our functions with ordering='none'.

[2019-06-17 21:13] #55 closed

[2019-06-20 14:53] marcinjurek commented on #54
Looking for a good idea for interface design I started with `spNNGP` by Andrew Finley et al. Any other packages that I should take a look at?

[2019-06-20 19:49] katzfuss commented on #54
geoR, lm, fields

[2019-06-21 19:34] katzfuss commented on #56
Something is still not right with smooth=1.5. See the following code. Approximation is great for any smooth value except for 1.5:

[code]

[2019-06-28 16:41] katzfuss commented on #54
We should also do some experiments to see if using the R package optimParallel (instead of optim() ) speeds up finding the MLEs of covariance parameters

[2019-06-28 19:47] marcinjurek commented on #54
ok, sounds good, I'll take a look!

[2019-07-01 19:49] marcinjurek opened #60 "installation on macOS"
I'm working with Houjie, our summer intern and he struggles to install the package on his mac computer. His problems seem to have to do with openMP. I don't use macOS and I don't have access to it. However I know @dzilber has a mac. Maybe you could help Houjie figure out what to do? @katzfuss have you dealt with that before too?

Specifically, the error is:
`clang: error: unsupported option '-fope

[2019-07-01 19:59] dzilber commented on #60
These types of issues are usually related to gcc.  I made the following text file for myself when I ran into these problems.  Correct the version numbers as needed.

[code]

[2019-07-01 20:10] marcinjurek commented on #60
Thanks a lot Daniel! We'll try that and see how it helps! Do you think some of it should go to the installation instructions?

[2019-07-01 20:16] dzilber commented on #60
I think of it as a problem with the user's computer rather than the GPVecchia package, but people might appreciate the help.  We should try to get a compiled version on to CRAN though and avoid this issue.

[2019-07-02 15:19] marcinjurek commented on #60
looks like the problem has to do with using gcc>7.2 with omp. https://stackoverflow.com/questions/47081274/openmp-error-w-13-not-specified-in-enclosing-parallel

[2019-07-02 18:57] marcinjurek commented on #60
so everything works under g++/gcc version 8.3. Version 9.1 has only been released in early May. I think we can easily wait with supporting g++ v.9

[2019-07-02 18:57] #60 closed

[2019-07-11 15:07] marcinjurek commented on #56
So I looked at the source code of fields and there seems to be a discrepancy between the formulas found in Stein and the ones used by `fields`. I verified that for smoothness=1.5 the functions are proportional to each other but not equal. I tried reconciling it using other sources but each one seems to give a slightly different version of the function.

However, I wonder if we should follow what `

[2019-07-11 15:30] katzfuss commented on #56
Let's discuss during our next meeting. But please note that the Bessel formula is more than 10 times slower, which is huge!!

[2019-07-11 16:18] marcinjurek commented on #56
alright, I was able to figure out the constants and tested it using the code provided. It seems to work now. @katzfuss if you have a spare moment, could you please verify on your end? Thanks!

[2019-07-11 16:43] joeguinness commented on #56
You should think about what the use case is for having the matern function
go faster for specific values of the smoothness. You can always just write
separate covariance functions for the special cases.

On Thu, Jul 11, 2019 at 12:18 PM Marcin Jurek <notifications@github.com>
wrote:

[2019-07-12 16:33] #56 closed

[2019-07-16 17:46] marcinjurek commented on #53
Hey @dzilber, so I created a new vignette in the Rmarkdown format. In some spare moment, would you mind transferring your VL code there? Plots still need to be fixed, I know. Also feel free to change whatever you think is appropriate about the layout etc. This is work in progress.

[2019-07-17 18:09] marcinjurek commented on #13
make sure that the standard vignette does not produce any errors
- vecchia_specify, vecchia_likelihood, vecchia_prediction

[2019-07-17 18:13] marcinjurek commented on #53
add a section on full scale approximation, mra, etc.

[2019-07-18 18:20] marcinjurek opened #61 "installation on windows requires some packages"
Make sure when the package is being installed these packages are included:
dequer, mvtnorm, knitr, rmarkdown

[2019-07-18 19:22] myeongjong commented on #61
Also, I just made a minor and temporary change on  GPvecchia-package.Rd to use install_github() function in Windows 10. Now, it seems to be perfectly work.

[2019-07-18 20:45] marcinjurek commented on #61
Let's not close it just yet. I think we do need to change whatever file it is (`NAMESPACE` or `DESCRIPTION`) to make sure these dependencies are there. I think what you fixed was a separate problem.

[2019-08-08 20:40] marcinjurek opened #62 "add Travis CI"
use Broman's tutorial
https://kbroman.org/pkg_primer/pages/tests.html

[2019-08-08 20:41] marcinjurek commented on #13
this will be done whenever R CMD check is run; the vignettes and the tests are run then

[2019-08-08 20:41] #13 closed

[2019-08-08 21:59] marcinjurek opened #63 "hackathon tasks"
- [x] installation on new machines typically throws errors due to undeclared dependencies. How to troubleshoot it?
- [ ] turn the existing VL vignette into the format recommended by Wickham in http://r-pkgs.had.co.nz/vignettes.html

- [x] checking dependencies in R code ... WARNING
[code]
- [x] checking S3 generic/method consistency ... WARNING
[code]
- [x] checking R code for possible problems ..

[2019-08-08 22:04] #61 closed

[2019-08-09 14:44] marcinjurek commented on #62
The list of builds should be available here:
https://travis-ci.org/katzfuss-group/GPvecchia/builds

[2019-08-09 15:49] marcinjurek opened #64 "speed up U_NZentries"
three main directions:
1. use GPU
2. use fortran?
3. clean up exisiting code

[2019-08-09 18:13] katzfuss commented on #54
I wrote two user-friendly functions in the file R/vecchia_wrappers.R that do parameter (incl mean) estimation and prediction. Here is how to call them:

[code]

I will make a separate ticket for enhancements (optimParallel, GLS estimation), so once the wrapper code has been added to the vignette, this ticket can be closed.

[2019-08-09 18:16] katzfuss opened #65 "enhancement of vecchia_estimate"
- [ ] Use the R package optimParallel (instead of optim() ) to speed up finding the MLEs of covariance parameters.
- [ ] Extend code to do GLS estimation of the trend using the estimated covariance structure at the end.

[2019-08-09 19:16] dzilber commented on #53
VL example code for non-Gaussian data showing prediction and parameter estimation has been added.  Parameter estimation aborts at present but the issue may be resolved with some error checks later.

[2019-08-09 21:41] #54 closed

[2019-08-12 20:27] marcinjurek opened #66 "No protection against inadmissible parameter values"
The following code results in data that at some iteration cause the optimization routine to crash
[code]
Changing the seed to 1988 does not produce errors.

[2019-08-12 20:39] katzfuss commented on #66
For the default Matern covariance, we could penalize strange parameter values as e.g. in Section 4.1 of https://arxiv.org/pdf/1905.08374.pdf. This would be easy to do.
Not sure what to do for other covariance functions though.

[2019-08-12 20:48] marcinjurek commented on #66
I think the key is to make the C++ function more robust. I think it should throw an error rather than crash. This doesn't solve the problem of estimation, but does help with checking. I'm planning to see exactly when it crashes but for now I just opened this ticket so that it doesn't get forgotten. We could still pass the tests if we use the right seed. In the interim, this might be the solution

[2019-08-14 17:47] marcinjurek commented on #62
done

[2019-08-14 17:47] #62 closed

[2019-08-14 17:47] #63 closed

[2019-08-14 17:53] #53 closed

[2019-08-14 17:53] #58 closed

[2019-08-14 17:53] marcinjurek opened #67 "add vignette sections talking about MRA"
once that's done, let @katzfuss know

[2019-08-14 18:03] marcinjurek opened #68 "update documentation of vecchia_specify()"

[2019-08-16 15:54] marcinjurek commented on #50
@dzilber can we close this?

[2019-08-16 17:46] dzilber commented on #50
Sure, although I have a vague feeling that the code is not ready to be marked v1.0 ;)

[2019-08-16 17:46] #50 closed

[2019-08-16 20:37] marcinjurek commented on #67
@katzfuss, please take a look

[2019-08-16 20:39] marcinjurek commented on #66
This is a partial solve but I'm closing this ticket, as it's no longer a bug. There is now a check within `vecchia_estimate()` that ensures that smoothness is less than a threshold value. This only solves the problem in the default optimization though.

[2019-08-16 20:39] #66 closed

[2019-08-16 20:40] marcinjurek opened #69 "Add checks in the Matern covariance function to make sure inadmissible parameter values don't cause problems"
These problems typically manifest themselves as covariance matrix being close to singular. This happens, for example when smoothness is very high. I imagine it can happen as well for very large range parameters

[2019-08-16 20:46] marcinjurek commented on #68
it seems to me that everything is up to date!

[2019-08-16 20:46] #68 closed

[2019-08-16 22:35] katzfuss commented on #67
looks ok, thanks!

[2019-08-19 14:45] #67 closed

[2019-08-21 17:38] marcinjurek opened #70 "warnings in compiling on OSX"
```MaxMin.cpp:297:53: warning: 'void* memcpy(void*, const void*, size_t)' writing to an object of type 'heapNode' {aka 'struct heapNode'} with no trivial copy-assignment; use copy-initialization instead [-Wclass-memaccess]```
This is related to the use of constant attributes such as "const leftChild" in the heap node struct.  The constant attributes tells the compiler to delete the usual copy cons

[2019-08-21 17:39] marcinjurek commented on #70
who wrote the MaxMin.cpp file? I can't fix it without a Mac because it doesn't come up on my system or on Travis

[2019-09-02 05:49] jingjiezh commented on #70
I tested the package on Mac, but I didn't see your warning. The error I met is

[code]
By default, clang doesn't support openMP on Mac. I didn't use openMP in the MaxMin.cpp file, but several other files rely on openMP. How to fix this error?

[2019-09-02 13:24] marcinjurek commented on #70
I think @dzilber might help with this. [Writing R Extensions] (https://cran.r-project.org/doc/manuals/r-release/R-exts.html) is the canonical source for this type of problems and they seem to discuss some of these issues in section 1.2.1.1. Finally, you might also try this article: https://iscinumpy.gitlab.io/post/omp-on-high-sierra/.

[2019-09-02 19:28] dzilber commented on #70
Deleting the "const" flag for the leftChild and rightChild attributes (lines 192, 193) in the heap node struct in  maxmin.cpp make the error go away.  I don't think this is the proper way to fix it, but perhaps those attributes did not need to be constants.  @marcinjurek , if you try the change locally, does the build go through for you?

Proposed change:  substitute
[code]

with
[code]

[2019-09-02 19:51] marcinjurek commented on #70
Thanks Daniel! It works on my end! I think it might be time to submit it to CRAN!

[2019-09-02 19:56] katzfuss commented on #70
Awesome, great job everyone!

[2019-09-03 18:39] marcinjurek opened #71 "Predictions using a data vector with NAs produces weird results"
One of the intended ways to do prediction is to pass a vector of observations with `NA`s wherever a point is missing. The predictions are produced, but removing only a single point from the observation vector produces odd patterns in the predicted field. It can be observed running the following code. These artifacts disappear when `frac.obs=1.0` but for any other value they are often so heavy that

[2019-09-11 16:26] marcinjurek commented on #71
e5e9102 should fix it:

![image](https://user-images.githubusercontent.com/6467709/64711495-4f6d2980-d47f-11e9-9a43-655c01bf3f1d.png)

[2019-10-04 16:16] katzfuss commented on #17
This issue also seems to arise when installing from CRAN. Observed on a Windows PC, choosing option to install from source. Again, the issue is solved when installing "manually."

[2019-10-04 16:17] marcinjurek commented on #17
how urgent is this?

[2019-10-04 16:32] katzfuss commented on #17
Certainly the most urgent open issue other than #70. People are now starting to try out GPvecchia from CRAN, and they will dismiss the package as useless when it takes 20min to analyze a couple of thousand observations.

[2019-10-04 18:28] marcinjurek commented on #70
Wait, why isn't it closed?

[2019-10-04 18:34] katzfuss commented on #70
not sure, i guess nobody closed it? given the comments above, i assume it can be closed?

[2019-10-04 19:12] marcinjurek commented on #70
Hey @dzilber or @jingjiezh do you think one of you could double-check if it installs from CRAN on your mac with no problems? If it does, could you please close it? Thanks!

[2019-10-04 19:56] marcinjurek commented on #17
So I ran the test on one of the department servers. Building the Vecchia object and likelihood evaluation for m=50 and n=40,000 takes roughly 30s in both cases. It is hard to debug it on windows because all the machines I could are controlled by the department and have some preinstalled software versions. Specifically, some don't have Rtools and the ones that do, have to have some wrong version of

[2019-10-04 20:59] marcinjurek commented on #17
Ok, a possible fix has just been pushed in 7f93e6d

[2019-11-27 15:07] marcinjurek opened #72 "change examples in GPvecchia vignette"
It would look better if, in the 2D case, we generated the entire field and then selected only certain points for observations and then show how we can regenerate the field. Otherwise it's hard to read.

[2019-12-09 17:27] marcinjurek opened #73 "R crashes when inapproriate arguments passed"
This code alongside with the attached data should reproduce the crash
[code]

[2019-12-09 19:21] marcinjurek opened #74 "unify interface"
Right now there are separate commands for the Gaussian case and exponential family case. It should be unified as the latter encompasses the former

[2019-12-10 21:31] marcinjurek opened #75 "fix handling NAs in observations"
right now when we use vector of observations with NAs we handle it by setting the nugget to some very very large number. This is a work-around. We should fix it so that it is set to infinity. When addressing it, start with the simplest linear Gaussian case.

[2020-04-27 19:23] katzfuss commented on #11
Lines 156-158 in R/vecchia_specify.R can be replaced by
`NNarray <- GpGp::find_ordered_nn(locsord,m)`

[2020-04-27 19:49] katzfuss commented on #11
Also, I think we can remove the functions order_coordinate, order_dist_to_point, order_middleout, and order_outsidein. The first 3 are part of GpGp anyway, and the last one is not needed.

[2020-05-27 20:09] marcinjurek commented on #75
In the interim we use the following function which inserts some really large variances relative to the process scale:
[code]

[2020-07-02 17:32] jingjiezh opened #76 "provide matrix to vecchia_likelihood"
The vecchia_likelihood function allows users to provide a matrix as 'covmodel'. However, this matrix (in the original ordering) can't be used directly.  We must reorder the matrix based on the ordering provided to vecchia_specify.

So on help file for vecchia_likelihood when providing matrix: explain, and/or reorder internally based on ordering provided to vecchia_specify.

[2020-07-03 19:19] marcinjurek commented on #76
Ok I looked into it and so the situation is a little more complicated. Generally speaking, we never envisioned passing the full covariance matrix to, say, `vecchia_likelihood`. There are three possible types of `covmodel`:
1. a string ("matern" or "esqe")
2. an R function
3. an n by (m+1) matrix.
The code checks the type of the argument (string, function, matrix) and applies the appropriate functi

[2020-07-03 19:22] katzfuss commented on #76
@marcinjurek Can you please add this explanation to the help file? Thank you!

[2020-07-03 19:31] katzfuss commented on #76
Also, I believe that passing an nxn matrix does work, as long as it is ordered appropriately (as Jingjie said). Of course, this is not actually scalable to large n.
I think your explanations and options for types 2 and 3 are only applicable in the MRA case.

[2020-07-03 20:23] marcinjurek commented on #76
ok I just pushed a proposed fix. It is on a separate branch so that the main repo looks unchanged. @jingjiezh, could you please pull this branch (fixing76), test if it does what you need and let me know? If so, I will merge it to master (or feel free to merge it yourself if it works)

[2020-07-08 06:29] jingjiezh commented on #76
Thank you @marcinjurek.  I looked at the changes to createU, and now the covmodel looks good. I also tested and get the likelihood as expected.

[2021-02-16 22:21] marcinjurek opened #77 "Consider simplifying likelihood computations if only some parameters are being estimated"

[2021-02-16 22:23] marcinjurek commented on #77
This is from a user:
_there is a way to get the profile MLE of the marginal variance (sorry, not the signal to noise ratio), conditional on the other parameters, which reduces the number of covariance parameters necessary for the optimization to be performed over. The fields package, for instance, does this to get its estimate of the marginal variance, rho, in its mKrig function._

_I believe it w

[2021-02-23 15:56] marcinjurek opened #78 "weird VL likelihood values"
Hey @dzilber and @katzfuss. Can you please help? Here is the problem: I'm running the code pasted below and I'm getting weird likelihood values. It often turns out to be exactly 0 or 2**k for some integer k. Increasing `a` often eliminates the problem, but well, it's not a solution. From my understanding, it seems like for relatively small values of a the value of the pseudo-likelihood is large an

[2021-10-15 21:17] gully opened #79 "Astronomical applications and prospects for Python port"
Hi! 👋 I am intrigued by the high performance Vecchia approximation demonstrated here, and am curious to apply some of these techniques to large-scale problems in astronomy.  I see that some of the R code wraps low-level code--- what is the prospect of a minimal Python port for some of the key methods?  Thank you again! 🙏

[2021-10-27 09:54] manuelIDSIA opened #80 "new predictions & different kernels"
Thanks for the great implementations!

I would like to use your code for an application. Thereby 2 questions arose:
1) Is it possible to make new predictions after you have trained the model with the training data? Or do we have to know the prediction locations together with the training data?
2) Is it correct that you have implemented the matern and squared exponential kernel? Have you ever tried

[2021-10-29 21:38] marcinjurek commented on #80
@manuelIDSIA let me know if this helps!

[2022-01-12 21:56] #80 closed

[2022-01-13 14:57] marcinjurek commented on #78
fixed in 84e4f61

[2022-01-13 14:59] marcinjurek commented on #79
Hey, thanks for reaching out. We talked about it offline but just for the sake of closing the ticket, let me say that we are not planning a full python version at this time. Some of the functionalities are available either through the [pyMRA package](https://github.com/marcinjurek/pyMRA)

[2022-01-13 14:59] #79 closed

[2022-01-25 20:32] marcinjurek commented on #73
The solution could be to add:
[code]
but unfortunately this leads R to crash still. Moreover, if this code throws an error within the omp loop it creates problems related to
https://stackoverflow.com/questions/66362932/re-throwing-exception-from-openmp-block-with-the-main-thread-with-rcpp

[2022-10-20 22:51] marcinjurek opened #81 "maxmin ordering crashes"
Hey @joeguinness, I'm suddenly having problems with the `maxmin` ordering function. I know there has been a lot of changes in CRAN recently but I'm not sure how they could cause this problem. Here is how to replicate it.

Pull the github repo, and add a file the following file to `tests/testthat`
[code]
Let's call this file `test-maxmin.r`. Then I'm trying to run the following unit test:
[code]

a